.game-window{
	width: 75%;
	margin: 0 auto;
	position: relative;
}
.container{
	position: relative;
}

.cell{
	display: inline;
	position: absolute;
	border: 1px solid black;
	width: 20px;
	height: 20px;
}

.alive{
	background: grey;
}

.btn{
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 565px;
	position: absolute;
	width: 100px;
}

.start-button{
	width: 100px;
	height: 50px;
}