body{
	background: #dcdcdc;
}
.game-window{
	width: 70%;
	margin: 0 auto;
	position: relative;
}
.container{
	position: relative;
}

.cell{
	display: inline;
	position: absolute;
	border: 1px solid grey;
	width: 15px;
	height: 15px;
}

.alive{
	background: #2F4F4F;
}

.btn{
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 575px;
	position: absolute;
	width: 100px;
}

.start-button{
	width: 100px;
	height: 50px;
}